#body {
    transition: background-color 0.1s ease-out;
    background-color: white;
}

.hidden {
    display:none;
}

#question {
    margin-bottom:5px;
    font-weight: bold;
}

#choice_list {
    list-style: none;
    padding-left:0;
}

#choice_list li {
    background-color: slateblue;
    color: white;
    border-style: none;
    border-radius: 5px;
    margin-bottom:5px;
    padding-left:15px;
}

#initial_input {
    margin-bottom: 10px;
}